body{
    background-color: gray;
}


.NewsContainer{

    display: flex;
  
    justify-content: center;
    
   padding: 15px;
   background-color: gray;
}

.News{
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(225, 225, 230);
}

.NewsSearch{
  
display: flex;
padding: 15px;
justify-content: center;
border: none;
background: azure;
margin: auto;

  
}


.g-4{
   display: flex;
   justify-content: center;
   position: relative;
   top: 150px;


    
   
}

.g-4Search{

    position: relative;
    top: 150px;
    width: max-content;
 
}