body{
    background-color: gray;
}


.NewsContainer{

    display: flex;
  
    justify-content: center;
    flex-direction: column;

   padding: 15px;
   background-color: gray;
}
.link{
    color: rgb(44, 44, 44);
    text-decoration: none;
   padding: 10px;
   background: rgb(223, 223, 223);
   margin-top: 5px;
   
}


.News{
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(225, 225, 230);
    
}
.d-flex{
    background: #fff;
    padding: 20px;
 
 

   
}

.g-4{
   display: flex;
   justify-content: center;

}

.g-4Search{
margin-top: 20px;
 display: flex;
 justify-content: center;
}

.Title{
    text-align: center;
    background-color: rgb(105, 97, 97);
    font-family:   monospace;
}

